In [31]:
import numpy as np
import pandas as pd
import os
os.chdir('C:\\')

In [32]:
df = pd.read_excel('rohit_test.xlsx')
df_new = df.pivot_table(index=['month', 'behaviour', 'col3'], columns=['measure name'], values=['measure value'])

In [33]:
# Method 1
df_new.columns = df_new.columns.get_level_values(1)
df_new.head()

measure name             m1     m2     m3
month behaviour col3
april better    abc   122.0    NaN    NaN
                efg     NaN  133.0    NaN
                fgh     NaN    NaN  144.0
      good      abc    12.0    NaN    NaN
                efg     NaN   13.0    NaN